///////////////////VAR////////////////////////////////////

$font-primario: 'Poppins', sans-serif;
$color-primario: #7d78fa;
$color-secundario: #ff9900;
/////////////////////////////////////////////////////////
.container-cart{
    font-family: $font-primario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-weight: 500;
    }
}
.container-cart-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-contain-info-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 950px;
    height: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: white;
    border: 1px solid rgba(100, 100, 100, 0.295);
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 15%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-clear-cart{
    button{
        font-family: $font-primario;
        cursor: pointer;
        background-color: red;
        color: white;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}
.container-cart-empty{
    font-family: $font-primario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    h1{
        font-weight: 400;
    }
}
.cart-buy-items{
    display: flex;
    padding: 15px 15px;
    justify-content: flex-end;
    width: 45%;
    margin: auto;
    button{
        font-family: $font-primario;
        cursor: pointer;
        font-size: 18px;
        background-color: $color-primario;
        color: white;
        padding: 8px 40px;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 20%);
        transition: background 0.2s, box-shadow 0.2s;
        -webkit-transition: background 0.2s, box-shadow 0.2s;
        -moz-transition: background 0.2s, box-shadow 0.2s;
        -ms-transition: background 0.2s, box-shadow 0.2s;
        -o-transition: background 0.2s, box-shadow 0.2s;
        &:hover{
            background-color: $color-secundario;
            box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 25%);
        }
}
}
.cart-finish-buy{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 5%);
    margin-top: 5vh;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-buy-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    form{
        display: flex;
        width: 100%;
        flex-direction: column;
        input{
            font-family: $font-primario;
            font-size: 18px;
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.finish-buy-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 40px;
}
.btn-finish-buy{
    font-family: $font-primario;
    cursor: pointer;
    font-size: 18px;
    background-color: $color-primario;
    color: white;
    margin-top:5px;
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 20%);
    transition: background 0.2s, box-shadow 0.2s;
    -webkit-transition: background 0.2s, box-shadow 0.2s;
    -moz-transition: background 0.2s, box-shadow 0.2s;
    -ms-transition: background 0.2s, box-shadow 0.2s;
    -o-transition: background 0.2s, box-shadow 0.2s;
    &:hover{
        background-color: $color-secundario;
        box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 25%);
    }
}
@media screen and (max-width:1200px) and (min-width:768px){
    .cart-contain-info-items{
        width: 720px;
    }
}
@media screen and (max-width:768px){
    .container-cart{
        display: flex;
        flex-direction: column;
    }
    .container-cart-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart-contain-info-items{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 350px;
        height: 125px;
    }
}

