.item-list-container{
    display: flex;
    margin: 5px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.034);
    border-top: 1px solid rgba(0, 0, 0, 0.034);
}
.container-items-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
        align-items: center;
        color: rgb(63, 63, 63);
    }
}