///////////////////VAR////////////////////////////////////

$font-primario: 'Poppins', sans-serif;

/////////////////////////////////////////////////////////
.link-styles{
        text-decoration:none;

}
.item{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    font-family: $font-primario;
    text-align: center;
    width: 260px;
    height: 355px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.295);
    margin: 5px;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 7%);
    transition: box-shadow 0.1s;
    -webkit-transition: box-shadow 0.1s;
    -moz-transition: box-shadow 0.1s;
    -ms-transition: box-shadow 0.1s;
    -o-transition: box-shadow 0.1s;
    overflow: hidden;
    
    &:hover{
        box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 15%);
    }
    h3{
        font-weight: 500;
        color: #333333;
    }
    p{
        font-weight: 400;
        font-size: 13.5px;
        margin-left: 5px;
        margin-right: 5px;
        color: #555555;
    }
}
.item-content{
    overflow: hidden;
}
.name-item{
    width: 260px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    h3{
        max-width:95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.price-item{
    width: 260px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    p{
        font-size: 18px;
        font-weight: 500;
    }
}

.desc-item{
    width: 260px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    p{
        max-width:85%;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.item-image-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 245px;
    border-bottom: 0.11px solid rgba(124, 124, 124, 0.205);
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    img{
        width: 100%;
        height: 245px;
        object-fit: contain;
        pointer-events: none;
        user-select: none;
}
}
@media screen and (max-width:768px) and (min-width:400px) {
    .item{
        width: 190px;
        height: 270px;
        margin: 3px;
    }
    .item-content{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 190px;
    }
    .name-item{
        width: 190px;
        overflow: hidden;
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        h3{
            max-width:90%;
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price-item{
        width: 190px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            font-size: 15px;
            font-weight: 500;
            color: rgb(8, 151, 8);
        }
    }
    
    .desc-item{
        width: 190px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            max-width:90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item-image-contain{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        border-bottom: 0.11px solid rgba(124, 124, 124, 0.205);
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -ms-border-radius: 5px 5px 0px 0px;
        -o-border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }
    .img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
        pointer-events: none;
        user-select: none;
}}
}

@media screen and (max-width:400px) and (min-width:367px) {
    .item{
        width: 175px;
        height: 260px;
        margin: 3px;
    }
    .item-content{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 175px;
    }
    .name-item{
        width: 175px;
        overflow: hidden;
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        h3{
            max-width:90%;
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price-item{
        width: 175px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            font-size: 15px;
            font-weight: 500;
            color: rgb(8, 151, 8);
        }
    }
    
    .desc-item{
        width: 175px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            max-width:90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item-image-contain{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        border-bottom: 0.11px solid rgba(124, 124, 124, 0.205);
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -ms-border-radius: 5px 5px 0px 0px;
        -o-border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }
    .img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
        pointer-events: none;
        user-select: none;
}}
}
@media screen and (max-width:367px) {
    .item{
        width: 150px;
        height: 280px;
        margin: 3px;
    }
    .item-content{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 150px;
    }
    .name-item{
        width: 150px;
        overflow: hidden;
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        h3{
            max-width:90%;
            font-size: 17px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price-item{
        width: 150px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            font-size: 15px;
            font-weight: 500;
            color: rgb(8, 151, 8);
        }
    }
    
    .desc-item{
        width: 150px;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        p{
            max-width:90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .item-image-contain{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
        border-bottom: 0.11px solid rgba(124, 124, 124, 0.205);
        margin-bottom: 10px;
        background-color: #ffffff;
        border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -ms-border-radius: 5px 5px 0px 0px;
        -o-border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }
    .img-item{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    img{
        width: 100%;
        height: 100px;
        object-fit: contain;
        pointer-events: none;
        user-select: none;
}}
}