///////////////////VAR////////////////////////////////////
$font-primario: 'Poppins', sans-serif;
$color-primario: #7d78fa;
$color-secundario: #ff9900;
/////////////////////////////////////////////////////////
.container-cart-empty{
    font-family: $font-primario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    h1{
        font-weight: 300;
    }
}
