$background-menu: #232f3e;
$background-submenu: #131921;
$font-menu: 'Poppins', sans-serif;
footer{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    z-index: -2;
    bottom: -30vh;
    color: #ccc;
    justify-content: center;
    align-items: center;
    background-color: $background-submenu;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    flex-basis: 100%;
    flex-shrink: 1;
    width: 70%;
    justify-content: space-between;
    align-content: center;
    font-family: $font-menu;
    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 150px;
        min-height: 200px;
        div{
            display: flex;
            margin: 0px;
            flex-direction: column;
            align-items: center;
            width: 100%;
            h4{
                font-size: 19px;
            }
            ul{
                list-style: none;
                margin: 0px;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0px;
                    ul{
                        li{
                            font-size: 14px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px){
    footer{
        bottom: -12vh;
        margin-top: 0vh;
    }
    .footer-container{
        justify-content: space-between;
        width: 90%;
    }
}