*::selection{
    background: rgb(91, 78, 177);
    color: rgb(231, 231, 231);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
    position: relative;
}
body{
    background-color: #eeeff7;
    min-height: 100vh;
    overflow-x: hidden;
}
