///////////////////VAR////////////////////////////////////
$font-primario: 'Poppins', sans-serif;
$color-primario: #7d78fa;
$color-secundario: #ff9900;
/////////////////////////////////////////////////////////

.cart-finish-buy{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 5%);
    margin-top: 5vh;
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.form-buy-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    form{
        display: flex;
        width: 100%;
        flex-direction: column;
        input{
            font-family: $font-primario;
            font-size: 18px;
        }
    }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.finish-buy-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 40px;
}
.btn-finish-buy{
    font-family: $font-primario;
    cursor: pointer;
    font-size: 18px;
    background-color: $color-primario;
    color: white;
    margin-top:5px;
    padding: 8px 40px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 20%);
    transition: background 0.2s, box-shadow 0.2s;
    -webkit-transition: background 0.2s, box-shadow 0.2s;
    -moz-transition: background 0.2s, box-shadow 0.2s;
    -ms-transition: background 0.2s, box-shadow 0.2s;
    -o-transition: background 0.2s, box-shadow 0.2s;
    &:hover{
        background-color: $color-secundario;
        box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 25%);
    }
}
@media screen and (max-width:1200px) and (min-width:768px){

}
@media screen and (max-width:768px){
    
.cart-finish-buy{
    margin-top: 3vh;
    width: 95vw;
    height: 83vh;
}
.form-buy-container{
    width: 80%;
}
}